{% extends "base.html" %}
{% block title %}Customers{% endblock %}
{% block content %}
<h1>Customer List</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.first_name }} {{ customer.last_name }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.address }}</td>
            <td>
                <a href="{% url 'customer_detail' customer.id %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
